.menu { 
    display: none;
}

.menu.show {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    gap: 10px;
    margin-right: 5%;
    flex-grow: 1;
}
.menu.show a {
    color: #F1F7F6;
    font-weight: 650;
    font-size: 1.5rem;
}
.menu.show a.active {
    color: #2cc295;
    font-weight: 650;
    font-size: 1.5rem;
    text-decoration: underline;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    margin-left: 0;
    padding-left: 8px;
    background-color: #1c2628;    
}

.breadcrumbs {
    position: absolute;
    z-index: 1000;
}

.nombre {
    display: flex;
    align-items: center;
    gap: 3px;
    flex-grow: 0;
    opacity: 0.9;
}
.nombre img{
    width: 50px;
    height: 50px;
}
.nombre:hover{
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

#Javier{
    font-weight: 700;
    font-size: 2rem;
    color: #2cc295;
}
#LuisCastillo{
    font-weight: 500;
    font-size: 2.1rem;
    color: #F1F7F6;
}


.navbar-toggler { 
    display: block;
    position: relative;
    right: 5px ;
    z-index: 2;
}

.nav-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: auto;
    /*la altura del container es de 88px*/
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.options {
    align-self: flex-end;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: none;

    &:focus{
        outline: none;
    }
}

@media screen and (max-width: 768px) {
   .nombre {
        gap: 2px;
    }
   .nombre img{
        width: 50px;
        height: 50px;
   }
   #Javier{
        font-size: 1.5rem;
   }
   #LuisCastillo{
        font-size: 1.7rem;
   }
}