.menu { 
    display: none;
}

.menu.show {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    gap: 10px;
    margin-right: 5%;
    flex-grow: 1;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    margin-left: 0;
    padding-left: 8px;
    
}

.nombre {
    display: flex;
    align-items: center;
    gap: 3px;
    flex-grow: 0;
    opacity: 0.9;
}
.nombre img{
    width: 50px;
    height: 50px;
}
.nombre:hover{
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

#Javier{
    font-weight: 700;
    font-size: 2rem;
    color: #2cc295;
}
#LuisCastillo{
    font-weight: 500;
    font-size: 2.1rem;
    color: #F1F7F6;
}


.navbar-toggler { 
    display: block;
    position: relative;
    right: 5px ;
    z-index: 2;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
   .nombre {
        gap: 2px;
    }
   .nombre img{
        width: 50px;
        height: 50px;
   }
}