
    .container{ 
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 51px;
        display: flex;
        padding: 7px;
        min-height: 400px;
    }

    .text {
        writing-mode: vertical-rl;
        font-weight: 500;
        color: #2cc295;
    }
    .socials.full {
        position: absolute;
        bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0.9;
        height: auto;
    }
    .socials {
        display: none;
    }
    .socials a:hover {
        opacity: 1;
        text-decoration: none;
        cursor: pointer;
    }

    .side-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
