body, html {
    font-family: 'Roboto', sans-serif;
    background-color: #1c2628;
}
.welcome {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 10%;
    
    /* background-color: #f1f7f6; */
}
.welcome header{
    flex-direction: column;
    text-align: center;
}
.welcome h1 {
    color: #f1f7f6;
    font-size: 3rem;
    text-align: center;
    
}
